/* Write your CSS code here */
.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.login-logo {
  width: 500px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .login-logo {
    display: none;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.website-log {
  width: 100px;
  margin-top: 20px;
}
.input-label {
  font-family: roboto;
  font-size: 12px;
  color: #1e293b;
  font-weight: 500;
  margin-bottom: 5px;
  align-self: flex-start;
  margin-top: 15px;
}
.input-text {
  background-color: #d7dfe9;
  border-radius: 4px;
  border: none;
  padding: 10px;
  width: 95%;
  outline: none;
  cursor: pointer;
}
.form-btn {
  background-color: #0967d2;
  width: 100%;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
}
.login-mobile-logo {
  width: 250px;
  height: 200px;
  margin-top: 20px;
}
@media screen and (min-width: 767px) {
  .login-mobile-logo {
    display: none;
  }
}
.error-msg {
  color: #ff0b37;
}
